// Jade

header
  title ChadWallaceHart.com
  link(rel='stylesheet', href='/css/style.css')
body
  //section(class="main")
  h1= title
footer
    tr
        td  Brought to you by 
        td 
            img(src="/img/webrtcHacks.gif")